:root {
  --primary-color: #353945;
  --primary-color-alpha: #005fff1a;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

::placeholder {
  color: rgba(255, 255, 255, 0.66);
  white-space: nowrap;
  width: 150px;
}

.app__wrapper {
  display: flex;
  flex: 1;
  /* height: 800px; */
  height: 100%;
  /* border-radius: 16px; */
  box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
}
/** SideBar Starts **/
.channel-list__list__wrapper {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  width: 240px;
}

.channel-list__header {
  padding-left: 16px;
  height: 62px;
}

.channel-list__header__text {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
/** Search Bar Start **/
.channel-search__input__text {
  background: none;
  border: none;
  color: #fff;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  outline: none;
}
/** Search Bar Ends **/
/** SideBar Ends **/




/** Media Screen Starts **/

@media screen and (max-width: 960px) {
  .channel-list__list__wrapper {
    width: 100%;
  }

  .channel-search__input__text {
    width: inherit;
  }
}

/** Media Screen Ends **/
